<form name="userForm" novalidate 
		ng-submit="userForm.$valid && $ctrl.save()">

	<div class="form-group">
		<label>Name:</label>
		<input class="form-control" name="name" ng-model="$ctrl.user.name" required minlength="4" starts-with-alpha password-match="user">

		<div ng-if="userForm.name.$touched || userForm.name.$dirty || userForm.$submitted" ng-messages="userForm.name.$error">
			<span ng-message="required">Pole wymagane</span>
			<span ng-message="minlength">Za krótka wartość</span>
			<span ng-message="alpha">Musi sie zaczynać od litery</span>
		</div>

	</div>
	<div class="form-group">
		<label>Email:</label>
		<input class="form-control" name="email" ng-model="$ctrl.user.email" type="email">
		<span ng-if="userForm.email.$error.email">Nie jest poprawyn email</span>
	</div>
	<div class="form-group">
		<label>Address:</label>
		<input class="form-control" name="street" ng-model="$ctrl.user.address.street">
	</div>
	<div class="form-group">
		<label>Birthdate:</label>
		<input class="form-control" name="birthdate" type="date"ng-model="$ctrl.user.birthdate">
	</div>
	<div class="form-group">
        <input class="btn btn-danger" type="submit" value="Save">
        <button class="btn btn-danger" 
        ng-click="$ctrl.showing.mode = 'show'">Cancel</button>
	</div>
</form>