<div ng-controller="UsersCtrl">
    <div class="row">
        <div class="col-xs-6" ng-init="test = 'test' ">
            <h2> Users</h2>
            <div ng-repeat="item in users track by item.id" ng-click="select(item)">

                <user-detail data="item"></user-detail>
            </div>
            <button ng-click="getUsers()">Refresh</button>
        </div>

        <div  class="col-xs-6" >
            <ui-view></ui-view>
        </div>

<!--         <div class="col-xs-6" ng-switch="showing.mode" ng-init="showing = {}">
            <h2> User</h2>

            <div ng-switch-default>
                <user-detail data="user">
                    <static-map lat="user.address.geo.lat" lng="user.address.geo.lng" map-click="mapClick(message)"></static-map>
                    <button class="btn btn-success" 
                    ng-click="showing.mode = 'edit'">Edit</button>
                </user-detail>
            </div>

            <div ng-switch-when="edit">
                <user-form data="user" showing="showing" 
                on-save="saveUser(user)">
                </user-form>
            </div>

        </div> -->
    </div>
</div>
