<div class="tasks" ng-controller="TasksCtrl">
	<h2>Moje Zadania</h2>
    <button ng-click="tab = 'zadania'">Zadania</button>
    <button ng-click="tab = 'zakonczone'">Zakończone</button>

    <ul class="task-list" ng-show=" tab != 'zakonczone' ">
        <li ng-repeat="item in data.tasks track by $index " class="task" ng-class="{'task-completed': item.completed == true}">
            {{$index+1}} {{item.name}}
            <input type="checkbox" ng-model="item.completed">
        </li>
    </ul>

    <ul class="task-list" ng-show=" tab == 'zakonczone' ">
        <li ng-repeat="item in data.completed track by $index " class="task" ng-class="{'task-completed': item.completed == true}">
            {{$index+1}} {{item.name}}
            <input type="checkbox" ng-model="item.completed">
        </li>
    </ul>
    <div class="form">

        <input ng-model="task.name" ng-keyup="$event.keyCode == 13 && addTask()"> {{task.name}}

        <button class="add_task_btn" ng-click="addTask()" ng-if="task.name">Dodaj</button>

    </div>
    <button ng-click="archiveCompleted()">Zarchiwizuj Zakończone</button>
</div>
