
    <h1> Szkolenie AngularJS </h1>

    <div class="container">
        <div class="col-xs-12">
        <div>
            <button ui-sref="root.tasks">Tasks</button>
            <button ui-sref="root.users">Users</button>
            <button ui-sref="root.tabs">Tabs</button>
        </div>

        <ui-view></ui-view>

<!--             <div ng-init=" view = 'users/users.tpl.html' ">
                <button ng-click=" view = 'todos/tasks.tpl.html'">Tasks</button>
                <button ng-click=" view = 'misc/scopes.tpl.html'">Scopes</button>
                <button ng-click=" view = 'users/users.tpl.html'">Users</button>
                <button ng-click=" view = 'tabs/tabs.tpl.html'">Tabs</button>

                <div ng-include=" view "></div>

            </div> -->
        </div>
    </div>