<h2>Scopes</h2>

<div ng-controller="ParentCtrl">

    Parent:<input ng-model="user.firstName">
    <span ng-bind="user.firstName"></span> 

    <div ng-controller="ChildCtrl">

        Child<input ng-model="user.firstName">
        <span ng-bind="user.firstName"></span> 
    </div>


</div>
